/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
.sideNavList {
    padding: 6px 14px;
}
/* This is only for dashboard page */
.dashSideBar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background: #11101d;
    margin-top: 3.5em;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
    overflow: hidden;
}
/* End for dashboard page */
.sideBarNav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 220px;
    background: #11101d;
    z-index: 99;
}

.sideBarNav .company-details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 6px 14px;
}

.sideBarNav .company-details .companyName {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
.sideBarNav .company-details .companyName > * {
    padding: 10px;
}

.sideNavList i {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}
.sideNavList {
    margin-top: 20px;
    height: 100%;
}
.sideNavList li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sideBarNav input {
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    padding: 0 20px 0 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: #1d1b31;
}

.sideNavList a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #11101d;
}
.sideNavList a:hover {
    background: #fff;
}
.sideNavList a .linksName {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}
.sideNavList a .linksName {
    opacity: 1;
    pointer-events: auto;
}
.sideNavList a:hover .linksName,
.sideNavList a:hover i {
    transition: all 0.5s ease;
    color: #11101d;
}
.sideNavList i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}
.sideNavList li.profile {
    height: 60px;
    width: 100%;
    left: 0;
    /* Imp bottom*/
    bottom: 45px;
    position: absolute;
    padding: 10px 14px;
    background: #1d1b31;
    overflow: hidden;
}

.sideNavList li .profileInfo {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.sideNavList li.profile .name,
.sideNavList li.profile .position {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
}
.sideNavList li.profile .position {
    font-size: 12px;
}
.sideBarNav .profile #log_out {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #1d1b31;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
}
.sideBarNav .profile #log_out {
    width: 10px;
    background: none;
}
.sideBarNav .profile #log_out:hover {
    color: rgb(215, 215, 215);
}
.homeContent {
    position: relative;
    background: #ebf1fb;
    min-height: 100vh;
    top: 0;
    z-index: 2;
}
.sideBarNav ~ .homeContent {
    left: 220px;
    width: calc(100% - 220px);
}
.homeContent div {
    display: flex;
    flex-direction: column;
}
.homeContent h1 {
    color: #11101d;
    font-size: 25px;
    font-weight: 500;
    margin: 18px;
}
.homeContent .submitTimesheet {
    height: 100%;
    margin: 18px;
    padding: 5px 5px 5px 5px;
    background-color: white;
    border-radius: 0.5em;
}

#TimeSheetPage button {
    outline: none;
    border: none;
    font-size: 0.8em;
    width: 100%;
    font-weight: bold;
    padding: 1em 4em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#TimeSheetPage button:hover {
    background-color: black;
    cursor: pointer;
    color: white;
}
/* .enterTimeInfo * {
    width: 50%;
    margin: 0 auto;
} */
.enterTimeInfo input,
.enterTimeInfo select {
    border: 0.1em solid black;

    margin-bottom: 2em;

    border-color: inherit;
    padding: 0.8em;
}

#TimeSheetPage .enterTimeInfo label {
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
#TimeSheetPage .enterTimeInfo {
    padding: 2em;
}

.TimeSheetPage {
    display: flex;
    align-items: center;

    padding: 1em;
}
